* {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 245, 245);
}

.img-background {
    position: relative; /* Establece el contexto de posicionamiento relativo */
}

.img-background h1 {
    position: absolute; /* Establece el posicionamiento absoluto para el título */
    top: 50%; /* Alinea el título en la mitad superior del contenedor */
    left: 50%; /* Alinea el título en el centro horizontal del contenedor */
    transform: translate(-50%, -50%); /* Centra el título completamente */
    z-index: 1; /* Coloca el título delante de la imagen */
    background-color: rgba(255, 255, 255, 0.7); /* Opcional: Agrega un fondo semitransparente al título */
    padding: 10px; /* Opcional: Agrega espacio alrededor del título */
}

.img-background img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}


h1 {
    font-size: 24px;
    color: #242424;
    font-weight: 900;
}

h2 {
    font-size: 20px;
    color: #606060;
    font-weight: 800;
}

p {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}

ul {
    margin-left: 100px;
    padding: 20px;
    max-width: 40%;
    list-style-type: none;
    border: 2px solid blue;
}

ul li {
    font-family: monospace;
    font-size: 18px;
    padding: 10px;
}

ul li:hover {
    background-color: hsla(328, 100%, 54%, 0.10);
}

ul li>a {
    color: orange;
    text-decoration: underline n;
}

.item10,
.item10>a {
    color: green;
}

a {
    font-weight: bold;
    background-color: #24242400;
}